# full iCEstick pinout:
# http://www.pighixxx.com/test/portfolio-items/icestick/

set_io --warn-no-port RX A3
set_io --warn-no-port TX B3
set_io LED1 B4
set_io LED2 C6
set_io LED3 B5
set_io LED4 E3
set_io LED5 E1
set_io clk D1
